In [200]:
#Imports
import pandas as pd
import numpy as np

In [203]:
df = pd.read_excel('../dataset.xlsx')
df

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
#Dropando todas as colunas que só possuem valores nulos já que não adicionam ao projeto.
df = df.dropna(axis = 0, how = 'all')
df

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
#Dropando as linhas que não possuem valores ou então possuem poucos valores (Para esclarecimento, escolhi o minimo de valores 
#diferentes de nulo por linha como sete pois em análise, a grande maioria dos valores preenchidos custumavam ser os mesmos, e, 
#somados eram sete ou seis, acabei por escolher sete).

#Criando uma cópia do DataFrame
dfc = df

#Iterando pelos indices e linhas do DataFrame
for index, row in df.iterrows():
    #Contador que dirá se a linha deverá ser dropada ou não
    counter = 0
    #Iterando pelos valores das linhas
    for value in row:
        #Caso o valor não for nulo nós aumentamos 1 o valor do contador
        if not pd.isnull(value):
            counter += 1
    #Caso o contador for menor que sete, dropamos a linhas inteira
    if counter < 7:
        dfc = dfc.drop(index, axis = 0)
#Realocando a cópia ao original agora modificada
df = dfc

df

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8bb9d64f0215244,1,negative,0,1,0,-1.571682,-0.774212,1.429667,-1.672222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730393,NaN
9,5f1ed301375586c,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,02c84e61d5f9e18,1,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5618,acd761fe16b5d0f,17,negative,0,0,0,-3.242548,-2.779203,-1.773594,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,42f299bee500ca4,7,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5634,db77903261ab6d0,15,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
#Vou criar uma cópia do dataset para poder trabalhar uma opção de limpeza

#Essa cópia vai ser usada apenas com interpolação
dfI = df
dfI = dfI.interpolate(method = "linear")
dfI = dfI.fillna(0)
dfI = dfI.replace({'positive': 1, 'negative': 0})

#Essa cópia vai ser usada para interpolação e substituição de valores NaN
dfIF = df
dfIF = dfIF.interpolate(method = "linear")
dfIF = dfIF.fillna(method = "backfill")
dfIF = dfIF.replace({'positive': 1, 'negative': 0})

dfI

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
1,126e9dd13932f68,17,0,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,d9e41465789c2b5,15,0,0,0,0,-0.667583,-0.398276,0.456127,-0.830773,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,8bb9d64f0215244,1,0,0,1,0,-1.571682,-0.774212,1.429667,-1.672222,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.730393,0.000000
9,5f1ed301375586c,17,0,0,0,0,-1.434351,-0.742884,1.119810,-1.429137,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.724025,0.000000
11,02c84e61d5f9e18,1,0,0,0,0,-1.297019,-0.711556,0.809952,-1.186051,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.717657,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5618,acd761fe16b5d0f,17,0,0,0,0,-3.242548,-2.779203,-1.773594,-0.550290,...,0.22499,-0.202859,-0.011817,0.11312,-0.074619,-0.066989,-0.159955,-0.597097,0.335586,0.182693
5626,42f299bee500ca4,7,1,0,0,0,-2.258339,-1.949012,-1.556903,-0.494193,...,0.22499,-0.202859,-0.011817,0.11312,-0.074619,-0.066989,-0.159955,-0.597097,0.335586,0.182693
5634,db77903261ab6d0,15,1,0,0,0,-1.274131,-1.118820,-1.340212,-0.438096,...,0.22499,-0.202859,-0.011817,0.11312,-0.074619,-0.066989,-0.159955,-0.597097,0.335586,0.182693
5642,c20c44766f28291,10,0,0,0,0,-0.289922,-0.288628,-1.123520,-0.382000,...,0.22499,-0.202859,-0.011817,0.11312,-0.074619,-0.066989,-0.159955,-0.597097,0.335586,0.182693
5643,2697fdccbfeb7f7,19,1,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,0.22499,-0.202859,-0.011817,0.11312,-0.074619,-0.066989,-0.159955,-0.597097,0.335586,0.182693

In [253]:
#Quibei do código do Caio mesmo

#Preparação dos testes com o dataframe de interpolação
# criando dataframes de treino e teste
from sklearn.model_selection import train_test_split

X = dfI.drop(['Patient ID','SARS-Cov-2 exam result'], axis=1)
y = dfI['SARS-Cov-2 exam result']

#20% test e 80% train
X_train_I, X_test_I, y_train_I, y_test_I = train_test_split(X,y,test_size=0.2,random_state=42)

In [254]:
#Ainda to Quibando do Caio
from sklearn.metrics import f1_score,accuracy_score
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

rf = RandomForestClassifier(max_depth=5, random_state=42,n_estimators=100,class_weight = 'balanced')
rf.fit(X_train_I,y_train_I)
y_pred_rf = rf.predict(X_test_I)
print('accuracy:' , accuracy_score(y_pred_rf,y_test_I))
print('f1_score:' , f1_score(y_pred_rf,y_test_I,average='weighted'))

ValueError: could not convert string to float: 'yellow'